<h1>Fill Out This Form</h1>

<form action="/hello" method="POST">
    A Greeting: <input type="text" name="greet">
    <br>
    Your name: <input type="text" name="name"> 
    <br>
    <input type="submit">
</form>