$def with (room)

<h1> $room.name</h1>

<pre>
$room.description
</pre>

$if room.name == "death":
    <p><a href="/">Play Again?</a></p>
$else:
    <p>
        <form action="/game" method="POST">
            - <input type="text" name="action"> <input type="SUBMIT">
        </form>
    </p>